<div id="comment-<%= comment.comment_ID %>">
	<div class="comment-author"><%= comment.comment_author_url ? link_to(comment.comment_author, comment.comment_author_url) : comment.comment_author %></div>
	<div class="comment-body"><%= comment.comment_content %></div>
	<div class="comment-date"><%= time_ago_in_words comment.comment_date %> ago</div>					
</div>